<html>
  <head>
    <title>Edit - {{article.title}}</title>
  </head>
  <body>
    <h1>{{article.title}}</h1>
    <h2>{{article.slug}}</h2>
    <h2>{{article.year}}/{{article.month}}/{{article.day}}</h2>
    <h3>
      {{#each tags}}
        {{id}} - {{name}},
      {{/each}}
    </h3>
    <h3>
      {{#if article.published}}
        published
      {{else}}
        draft
      {{/if}}
    </h3>
    <div class="content">
      {{{article.content}}}
    </div>
  </body>
</html>

