<html>
  <head>
    <title>Editor</title>
  </head>
  <body>
    <h1>Articles</h1>
    <div class="articles">
      {{#each articles}}
        <div class="article">
          <a href="{{year}}/{{month}}/{{day}}/{{title}}">
            {{title}}
          </a>
        </div>
      {{/each}}
    </div>
  </body>
</html>
