<html>
  <head>
    <title>Editor</title>
  </head>
  <body>
    <h1>Articles</h1>
    <div class="articles">
      {{#each articles}}
        <div class="article">
          <span>
            {{year}}/{{month}}/{{day}}
          </span>
          <a href="{{id}}">
            {{title}}
          </a>
          {{#unless published}}
            - draft
          {{/unless}}
        </div>
      {{/each}}
    </div>
  </body>
</html>
